@import url(http://fonts.googleapis.com/css?family=Lato:400,900);  /* <-- Just for the demo, Yes I like pretty fonts... */

body {
    font-size: 20px;
    font-family: 'Lato', verdana, sans-serif;
    color: #2d2d2d;
    text-align: center;
    background: #ECECEC;
}

h1 {
    color: #a0a0a0;
}

.button {
    background-color: #f28c33;
    color: white;
    text-shadow: 0 0 2px #808080;
    font-size: 18pt;
    display: table;
    padding: 8px 40px;
    border-radius: 6px;
    font-weight: bold;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
}

.button:hover {
    background-color: #bc6d28;
}

small {
    color: #999999;
}

.grid-8 {
    max-width: 50%;
}

.grid-12 {
    max-width: 60%;
}

.grid-16 {
    max-width: 70%;
}

.grid-20 {
    max-width: 70%;
}

.grid-24 {
    max-width: 75%;
}

.grid-28 {
    max-width: 80%;
}

.grid-36 {
    max-width: 85%;
}

.grid-48 {
    max-width: 90%;
}
/*
@media screen and (max-aspect-ratio: 16/9) and (min-aspect-ratio: 1/1) {


    .grid-8 {
        max-width: 40%;
    }

    .grid-12 {
        max-width: 45%;
    }

    .grid-16 {
        max-width: 50%;
    }

    .grid-20 {
        max-width: 50%;
    }

    .grid-24 {
        max-width: 50%;
    }

    .grid-28 {
        max-width: 60%;
    }

    .grid-36 {
        max-width: 70%;
    }

    .grid-48 {
        max-width: 75%;
    }

}*/

.grid {
    margin: 0 auto;
    display: table;
}

.grid .square, .grid .scale-cell {
    display: inline-block;
    overflow: hidden;
}


.grid .content {
    background-color: #1E1E1E;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}

.grid .active .content {
    background-color: #ffffff;
    box-shadow: #999999 0 0 4px;
}

.grid .content {
    cursor: pointer;
}

.grid .inactive .content {
    cursor: not-allowed;
    background-color: #808080;
}

.grid .content .numbers {
    color: #cccccc;
}

.grid canvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
/*    width: 300px;
    height: 300px;*/
}


.grid .scale-cell {
    padding: 8px;
}


@media screen and (orientation:landscape) {

    .grid .square {
        width: 8vw;
        height: 8vw;
        padding: 8px;
    }

    .grid .square .content {
        width: 8vw;
        height: 8vw;
    }

    .grid .scale-cell .content {
        width: 20vw;
        height: 7vw;
        padding: 8px;
    }

    .grid .numbers {
        font-size: 4vw;
    }

}

@media screen and (orientation:portrait) {

    .grid .square{
        width: 8vh;
        height: 8vh;
        padding: 8px;
    }

    .grid .square .content {
        width: 8vh;
        height: 8vh;
    }

    .grid .scale-cell .content {
        width: 20vh;
        height: 7vh;
        padding: 8px;
    }


    .grid .numbers {
        font-size: 4vh;
    }

}


/*  ----------  PLAYER LIST -------------   */

.playerList {
    display: table;
    margin: 0 auto 20px auto;
    background-color: #2E2E2E;
    padding: 0px 20px 0px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
}

.playerList li {
    list-style: none;
    border-bottom: 6px solid #5e5e5e;
    padding: 8px 10px 10px 10px;
    display: inline-block;
}

.playerList li.active {
    border-bottom-color: #4a6efc;
    background-color: #3c4e73;
}

.playerList li.active .name {
    color: #b4d5fc;
    font-weight: bold;
}

.playerList li .name {
    padding: 0 8px 0 30px;
}

.playerList li .score {
    padding: 0 30px 0 8px;
    color: #ecdd66;
}

.playerList li .score:before {
    content: '{';
    font-size: 70%;
}

.playerList li .score:after {
    content: '}';
    font-size: 70%;
}

.hidden {
    display: none;
}
